ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
   }
   
   
   .nav{
     
    
     background-color: #e6e7e8;
     /* background-color: transparent; */
     position: fixed; 
     z-index: 1;
     top: 0; /* Position the navbar at the top of the page */
     width: 100%;
    
   }
   
    /* .logos{
     margin-top: 100px;
   }
    */
   
   /* ul li a{
     text-decoration: none;
     font-size: 20px;
     color: black;
     text-transform: uppercase;
     font-weight: 100;
    
   }
     */

 


