


.side{
    display: flex; 
   
    /* justify-content: space-around; */
    flex-direction: row; 

}

.left{
    width: 15%;
    height: auto;
   overflow-x: hidden;
}


.right{
    width: 85%;
    height: auto;
    margin: 0px auto;
    /* margin-left: 20px; */
    

}



.als{
    color: white;
    background-color: black;
    width: 150px;
    transition: all 1s;
   
}

 .als:hover{
    transform: scale(1.1,1.1);
    color: white;
}
 


