


.side{
    display: flex; 
   
    /* justify-content: space-around; */
    flex-direction: row; 

}

.left{
    width: 10%;
    height: auto;
}


.right{
    width: 90%;
    height: auto;
    margin-left: 20px;

}



.als{
    border: 1px solid blue;
    width: 150px;
    transition: all 1s;
   
}

 .als:hover{
    transform: scale(1.1,1.1);
}
 


